body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#graficoGantt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 1px solid black;
    height: 50px;
}

.barra-processo {
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}
