
/* Arquivo: styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#graficoGantt {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.barra-processo {
    height: 30px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}
